examples/log.html
examples/output.xml
examples/report.html
__pycache__
testrun/
output/
venv/
temp/
.rpa/
.idea/
.ipynb_checkpoints/
.virtual_documents/
*/.ipynb_checkpoints/*
.vscode
.DS_Store
*.pyc
*.zip
